{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "core-center-api",
    "description" : "",
    "version" : "0.0.2"
  },
  "servers" : [ {
    "url" : "https://waylowmmodev.ifresh.co.kr:9443/api"
  } ],
  "tags" : [ ],
  "paths" : {
    "/auth/password" : {
      "put" : {
        "tags" : [ "인증" ],
        "summary" : "비밀번호 변경",
        "description" : "사용자의 비밀번호를 변경한다\n\n- 기존 비밀번호와 새 비밀번호를 입력받아 비밀번호를 변경함\n\n- 대응 프로시저: 비밀번호 변경 관련 프로시저\n- 화면 코드: 비밀번호 변경 화면\n",
        "operationId" : "auth-password-change",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangePasswordRequest"
              },
              "examples" : {
                "auth-password-change" : {
                  "value" : "{\"ci_user_id\":\"testuser\",\"i_pwd_origin\":\"oldpassword123\",\"i_pwd_new\":\"newpassword123\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
                  "auth-password-change" : {
                    "value" : "{\"is_success\":true,\"message\":\"비밀번호가 성공적으로 변경되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/bookmarks" : {
      "post" : {
        "tags" : [ "공통" ],
        "summary" : "즐겨찾기 등록/수정/삭제",
        "description" : "즐겨찾기를 등록/수정/삭제합니다. 해당 등록한 내역은 MOB_DLV_09_001에서 BOOKMARKYN에 표시됩니다. 대응 프로시저: SPFC_MOB_DLV_MNG.SP_SET_MYMENU",
        "operationId" : "common-bookmarks-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BookmarkUpdateRequest"
              },
              "examples" : {
                "common-bookmarks-update" : {
                  "value" : "{\"i_prog_cd\":\"PROG001\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookmarkUpdateResponse"
                },
                "examples" : {
                  "common-bookmarks-update" : {
                    "value" : "{\"is_success\":true,\"message\":\"\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/centers" : {
      "get" : {
        "tags" : [ "공통" ],
        "summary" : "센터 리스트 조회",
        "description" : "해당 인원에 권한이 있는 센터 목록을 수신하여 SELECT BOX에 매핑합니다. 대응 프로시저: SPFC_MOB_CTR_MNG.SP_GET_DCCODE",
        "operationId" : "common-centers-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_search_txt",
          "in" : "query",
          "description" : "센터명/코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CenterListResponse"
                },
                "examples" : {
                  "common-centers-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"센터 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"dc_name\":\"2630\",\"dc_code\":\"수원2물류센터\",\"default_yn\":\"Y\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/codes" : {
      "get" : {
        "tags" : [ "공통" ],
        "summary" : "코드 조회",
        "description" : "시스템에서 사용하는 코드 목록을 조회합니다.\n\n- i_code_list\n\t- 일배품 입고 구분 코드: PUTWAYTYPE\n\t- 저장품 결품 사유 코드: REASONCODE_DP\n\t- 입고 적치 이력관리 유뮤 코드: SERIALYN\n-\n",
        "operationId" : "common-codes-read",
        "parameters" : [ {
          "name" : "ci_command",
          "in" : "query",
          "description" : "조회 명령 (ALL: 전체, SELECT: 선택 포함, NOADD: 코드만)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_code_list",
          "in" : "query",
          "description" : "그룹 코드명",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/get-code-list"
                },
                "examples" : {
                  "common-codes-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"코드 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"code\":\"CODE001\",\"code_descr\":\"테스트 코드\",\"list_code\":\"테스트 코드 설명\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/menus" : {
      "get" : {
        "tags" : [ "공통" ],
        "summary" : "메뉴 권한 조회",
        "description" : "사용자의 메뉴 접근 권한을 조회합니다. 대응 프로시저: SPFC_MOB_CTR_MNG.SP_GET_MENU",
        "operationId" : "common-menus-read",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MenuAuthListResponse"
                },
                "examples" : {
                  "common-menus-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"메뉴 권한 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"system_cl\":\"DRV\",\"prog_cd\":\"MENU001\",\"prog_lvl\":\"1\",\"prog_no\":\"001\",\"prog_nm\":\"메인 메뉴\",\"prog_url\":\"/main\",\"pre_prog_cd\":\"\",\"seq\":1,\"bookmark_yn\":\"N\",\"bookmark_seq\":1}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/products" : {
      "get" : {
        "tags" : [ "공통" ],
        "summary" : "상품정보 조회(사진) 팝업",
        "description" : "상품정보에 대해 팝업을 통해 사진 등의 정보를 확인합니다. 대응 프로시저: SPFC_MOB_CTR_MNG.SP_GET_SKU_IMAGE_INFO",
        "operationId" : "common-products-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductListResponse"
                },
                "examples" : {
                  "common-products-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"상품 정보 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"box_per_plt\":\"20\",\"qty_per_box\":\"12\",\"qty_per_pack\":\"6\",\"image_url\":\"/images/sku001.jpg\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "공통" ],
        "summary" : "상품 기준 정보 저장",
        "description" : "바코드(EA), 바코드(BOX), 바코드(PACK) 및 기본 로케이션 등에 대해 저장을 진행합니다. 대응 프로시저: SPFC_MOB_CTR_SKU.SP_SET_SKU_INFO",
        "operationId" : "common-product-info-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductUpdateRequest"
              },
              "examples" : {
                "common-product-info-update" : {
                  "value" : "{\"ci_dc_code\":\"DC001\",\"i_sku\":\"SKU001\",\"i_barcode1\":\"8801234567890\",\"i_barcode2\":\"8801234567891\",\"i_barcode3\":\"8801234567892\",\"i_loc\":\"A-01-01\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductUpdateResponse"
                },
                "examples" : {
                  "common-product-info-update" : {
                    "value" : "{\"is_success\":true,\"message\":\"상품 기준 정보가 성공적으로 저장되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/bookmarks/sequences" : {
      "put" : {
        "tags" : [ "공통" ],
        "summary" : "즐겨찾기 일괄 순서 변경",
        "description" : "즐겨찾기의 순서를 일괄적으로 변경합니다. 대응 프로시저: SP_SET_MY_MENU_SEQ",
        "operationId" : "common-bookmarks-sequences-update",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BookmarkSequenceUpdateRequest"
              },
              "examples" : {
                "common-bookmarks-sequences-update" : {
                  "value" : "{\"i_prog_cd_list\":[\"MENU001\",\"MENU002\",\"MENU003\"]}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookmarkSequenceUpdateResponse"
                },
                "examples" : {
                  "common-bookmarks-sequences-update" : {
                    "value" : "{\"is_success\":true,\"message\":\"즐겨찾기 순서가 성공적으로 변경되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/products/{i_barcode}" : {
      "get" : {
        "tags" : [ "공통" ],
        "summary" : "상품 바코드 스캔",
        "description" : "바코드 스캔을 통해, 상품 내역을 조회합니다. 대응 프로시저: SPFC_MOB_CTR_SKU.SP_GET_SKU_INFO",
        "operationId" : "common-product-barcode-scan",
        "parameters" : [ {
          "name" : "i_barcode",
          "in" : "path",
          "description" : "스캔 바코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductDetailResponse"
                },
                "examples" : {
                  "common-product-barcode-scan" : {
                    "value" : "{\"is_success\":true,\"message\":\"상품 바코드 스캔이 성공적으로 완료되었습니다.\",\"data\":{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"box_per_plt\":\"20\",\"qty_per_box\":\"12\",\"qty_per_pack\":\"6\",\"barcode1\":\"8801234567890\",\"barcode2\":\"8801234567891\",\"barcode3\":\"8801234567892\",\"duration_type\":\"D\",\"duration\":\"7\",\"zone\":\"ZONE01\",\"loc\":\"A-01-01\"},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external-warehouses" : {
      "get" : {
        "tags" : [ "외부 창고" ],
        "summary" : "창고 조회 팝업",
        "description" : "\t\t창고명 또는 코드로 외부 비축 창고를 조회한다.\n\n\t\t- 대응 프로시저: SPFC_MOB_CTR_MNG.SP_GET_ORG_LIST\n\t\t- 화면 코드: MOB_CTR_111_001 (MOB_CTR_107_001과 동일)\n\n\t\t- Example Parameter\n\t\t    - ci_dc_code: 2650\n\t\t\t- i_organize: 2170\n",
        "operationId" : "external-warehouse-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_organize",
          "in" : "query",
          "description" : "창고명 또는 창고 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WarehouseReadResponse"
                },
                "examples" : {
                  "external-warehouse-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"창고 조회 성공\",\"data\":[{\"organize\":\"WH001\",\"organize_nm\":\"중앙물류센터\"},{\"organize\":\"WH002\",\"organize_nm\":\"중앙배송센터\"},{\"organize\":\"WH003\",\"organize_nm\":\"중앙저온센터\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external-warehouses/inventories" : {
      "get" : {
        "tags" : [ "외부 창고 재고" ],
        "summary" : "외부 창고 재고 조회",
        "description" : "\t\t검색 조건에 따라 현 외부창고 재고 현황을 조회한다.\n\n\t\t- 대응 프로시저: SPFC_MOB_CTR_STOCKOUT.SP_GET_ST_STOCK_OUT_ORGLIST\n\t\t- 화면 코드: MOBC_TR_106_004\n\n\t\t- Example Parameter\n\t\t\t- ci_dc_code: 2170\n\n\t\t- `화면 구성`\n\t\t\t- 창고 조회 팝업: [GET] /external-warehouses\n\t\t\t\t1. 상품 그룹 조회\n\t\t\t\t\t- ci_command: ALL\n\t\t\t\t\t- i_code_list: SKUGROUP\n\t\t\t\t2. 저장 조건 조회\n\t\t\t\t\t- ci_command: ALL\n\t\t\t\t\t- i_code_list: STORAGETYPE_EX\n\t\t\t\t3. 상품 조회 팝업\n\t\t\t\t\t- [GET] /common/products 조회\n",
        "operationId" : "external-warehouse-inventory-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_organize",
          "in" : "query",
          "description" : "창고 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku_group",
          "in" : "query",
          "description" : "상품 분류",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_storage_type",
          "in" : "query",
          "description" : "저장 조건",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InventoryReadResponse"
                },
                "examples" : {
                  "external-warehouse-inventory-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"외부 창고 재고 조회 성공\",\"data\":[{\"sku\":\"103071\",\"sku_name\":\"[냉장]닭가슴살 1kg\",\"qty\":120,\"duration\":\"2025-12-15\",\"bl_no\":\"BL20241201-001\",\"organize_name\":\"중앙물류센터\",\"uom\":\"BOX\",\"con_con_name\":\"CJ프레시웨이\",\"storage_type_nm\":\"냉장\"},{\"sku\":\"103072\",\"sku_name\":\"[냉장]소고기 1kg\",\"qty\":85,\"duration\":\"2025-12-20\",\"bl_no\":\"BL20241201-002\",\"organize_name\":\"중앙물류센터\",\"uom\":\"BOX\",\"con_con_name\":\"한우마을\",\"storage_type_nm\":\"냉장\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external-warehouses/statuses" : {
      "get" : {
        "tags" : [ "외부 창고 현황" ],
        "summary" : "외부 창고 현황 조회",
        "description" : "\t\t외부창고 현황에 대한 내역을 조회한다.\n\n\t\t- 대응 프로시저: SPFC_MOB_CTR_EXDC.SP_GET_EXDCSTATUS_LIST\n\t\t- 화면 코드: MOB_CTR_111_001\n\n\t\t- Example Parameter\n\t\t    - ci_dc_code: 2650\n\t\t\t- i_search_dt: 2025-12-03\n\t\t\t- i_sku_group: 10\n\t\t\t- i_storage_type: 10\n\t\t\t- i_organize: A367\n\n\t\t`조회 조건`\n\t\t\t- [GET] /common/codes?i_code_list=?로 조회\n\t\t\t1. 상품 그룹 조회\n\t\t\t\t- ci_command: ALL\n\t\t\t\t- i_code_list: SKUGROUP\n\t\t\t2. 저장 조건 조회\n\t\t\t\t- ci_command: ALL\n\t\t\t\t- i_code_list: STORAGETYPE_EX\n\t\t\t3. 상품 조회 팝업\n\t\t\t\t- [GET] /common/products 조회\n",
        "operationId" : "external-warehouse-status-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_search_dt",
          "in" : "query",
          "description" : "조회일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku_group",
          "in" : "query",
          "description" : "상품 분류",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_storage_type",
          "in" : "query",
          "description" : "저장조건",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_organize",
          "in" : "query",
          "description" : "창고",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusReadResponse"
                },
                "examples" : {
                  "external-warehouse-status-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"외부 창고 현황 조회 성공\",\"data\":[{\"organize\":\"WH001\",\"organize_nm\":\"중앙물류센터\",\"address\":\"경기도 이천시 마장면\",\"sku_group\":\"냉장\",\"storage_type_nm\":\"일반냉장\",\"base_uom\":\"BOX\",\"gr_price_upper_trans\":1500,\"gi_price_upper_trans\":2000,\"storage_price_upper_trans\":300},{\"organize\":\"WH002\",\"organize_nm\":\"서울물류센터\",\"address\":\"서울시 강남구\",\"sku_group\":\"냉동\",\"storage_type_nm\":\"급속냉동\",\"base_uom\":\"EA\",\"gr_price_upper_trans\":2000,\"gi_price_upper_trans\":2500,\"storage_price_upper_trans\":400}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/regional-daily-goods/centers" : {
      "get" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "센터 조회 List",
        "description" : "센터 조회\n\n- Example Parameter\n\t- i_delivery_dt: 2025-02-03\n",
        "operationId" : "regional-daily-goods-inspections-center-read",
        "parameters" : [ {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CenterCodeResponse"
                },
                "examples" : {
                  "regional-daily-goods-inspections-center-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"\",\"data\":[{\"dc_code\":\"2600\",\"dc_name\":\"TEST\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/regional-daily-goods/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 일배품 입고 검수 조회 List",
        "description" : "검색조건에 따라 일배품 입고 검수 조회 List를 조회합니다. 검색조건은 배송일자, 구분, 협력사 입니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_GET_STO_INSPECTION_LIST\n\n- 저장 구분 SELECT BOX 조회\n\t- [GET] /common/codes\n\t\t- i_code_list: STORAGETYPE\n\n- Example Parameter\n\t- ci_dc_code: 2260\n\t- i_delivery_dt: 2025-03-15\n\t- i_route_dc_code: 2600\n\n* 응답까지 16s 소요\n",
        "operationId" : "regional-daily-goods-inspections-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_storage_type",
          "in" : "query",
          "description" : "저장구분",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_route_dc_code",
          "in" : "query",
          "description" : "경유 센터명(경유 센터 코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_status",
          "in" : "query",
          "description" : "상태값",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InspectionResponse"
                },
                "examples" : {
                  "regional-daily-goods-inspections-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 일배품 입고 검수 조회 List가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"storage_type\":\"30\",\"storage_type_name\":\"냉동\",\"route_center_code\":\"2600\",\"route_center_code_name\":\"이천물류센터\",\"order_qty\":7623.83,\"inspect_qty\":0,\"inspect_label_qty\":0,\"status\":\"10\"}],\"summary\":{\"total_qty\":3,\"complete_qty\":0,\"progress_qty\":0,\"un_complete_qty\":3}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/putaway/centers/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "입고 적치" ],
        "summary" : "입고 적치 대상 리스트 조회",
        "description" : "입고일자, 이력관리유무, 상품명(코드) 등으로 이력관리 대상을 조회한다.\n대응 프로시저: SPFC_MOB_CTR_DP.SP_GET_PUTAWAY_LIST\n\n- Example Project\n    - ci_dc_code: 2600\n    - i_doc_dt: 2025-03-14\n    - i_serial_yn: N\n",
        "operationId" : "putaway-list-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_dt",
          "in" : "query",
          "description" : "입고일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_serial_yn",
          "in" : "query",
          "description" : "이력관리 유무 (Y/N)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품명 또는 상품코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_status",
          "in" : "query",
          "description" : "상태값",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PutawayReadResponse"
                },
                "examples" : {
                  "putaway-list-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"입고 적치 대상 리스트 조회가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"order_qty\":100,\"duration_dt\":\"2024-01-15\",\"status\":\"READY\",\"sku_type\":\"정량\",\"uom\":\"EA\"}],\"summary\":{\"total_qty\":100,\"complete_qty\":50,\"un_complete_qty\":50}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "입고 적치" ],
        "summary" : "입고적치 등록",
        "description" : "입고적치에 대해 적치를 등록한다.\n대응 프로시저: SPFC_MOB_CTR_DP.SP_PUTAWAY_SAVE\n\n- Example Parameter\n    - i_doc_dt: 2025-0-12\n    - i_serial_yn: N\n    - i_line01: B436015-20260220B\n    - i_scan_barcode: B436015-20260220B\n    - i_scan_to_loc: H16-4902\n    - i_lot: 0000006406\n    - i_box_qty: 1\n    - i_ea_qty: 0\n    - i_kg_qty: 0\n",
        "operationId" : "putaway-register",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PutawayScanRequest"
              },
              "examples" : {
                "putaway-register" : {
                  "value" : "{\"i_doc_dt\":\"2024-01-01\",\"i_serial_yn\":\"Y\",\"i_line01\":\"정량\",\"i_scan_barcode\":\"8801234567890\",\"i_scan_to_loc\":\"A-01-01\",\"i_lot\":\"LOT001\",\"i_box_qty\":10,\"i_ea_qty\":100,\"i_kg_qty\":50.5}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inbounds-putaway-centers-ci_dc_code-locations-validate-1594006164"
                },
                "examples" : {
                  "putaway-register" : {
                    "value" : "{\"is_success\":true,\"message\":\"입고 적치 등록이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/daily-goods/centers/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "일배품" ],
        "summary" : "일배품 입고 검수 목록 조회",
        "description" : "검색조건에 따라 일배품 입고 검수 조회 List를 조회합니다. 검색조건은 배송일자, 구분, 협력사 입니다. 대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_GET_DAILY_INSPECTION_LIST\n- Example Parameter\n\t- ci_dc_code: 2600\n\t- i_delivery_dt: 2025-01-02\n\n- `구분 SELECT BOX`\n\t- [GET] /common/codes\n\t\t- i_code_list: PUTAWAYTYPE\n",
        "operationId" : "daily-goods-inspections-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_channel",
          "in" : "query",
          "description" : "일배/광역일배 구분",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InspectionResponse"
                },
                "examples" : {
                  "daily-goods-inspections-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"일배품 입고 검수 목록 조회가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"channel\":\"2\",\"channel_name\":\"일배\",\"cust_name\":\"테스트 협력사\",\"cust_key\":\"TEST_CUST_001\",\"order_qty\":100,\"scan_qty\":80,\"route_scan_qty\":10,\"status\":\"1234\"}],\"summary\":{\"total_qty\":100,\"complete_qty\":60,\"progress_qty\":20,\"un_complete_qty\":20}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "일배품" ],
        "summary" : "일배품 입고 검수",
        "description" : "입고라벨 스캔시, 해당 스캔한 내역에 대해 검수처리를 진행합니다. 성공 처리시, 해당 검색조건으로 화면을 갱신하는 MOB_CTR_18_001를 재호출합니다. 대응 프로시저: SPFC_MOB_CTR_DP_INSPECT.SP_DAILY_INSPECTION_SCAN_BARCODE\n- Example Parameter\n- ci_dc_code: 2600\n- i_delivery_dt: 2025-01-02\n",
        "operationId" : "daily-goods-inspections-scan",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InspectionScanRequest"
              },
              "examples" : {
                "daily-goods-inspections-scan" : {
                  "value" : "{\"i_delivery_dt\":\"2023-06-01\",\"i_channel\":\"2\",\"i_barcode\":\"TEST_BARCODE_123\",\"i_cust\":\"TEST_CUST_001\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "daily-goods-inspections-scan" : {
                    "value" : "{\"is_success\":true,\"message\":\"일배품 입고 검수가 성공적으로 완료되었습니다.\",\"data\":{\"partner_nm\":\"협력사명\",\"inspect_sku\":\"검수대상\",\"label\":\"바코드\",\"cust_nm\":\"고객명\",\"sku\":\"상품코드\",\"sku_name\":\"상품명\",\"order_qty\":0,\"remain_qty\":0,\"inspect_qty\":0},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/history-storage-goods/centers/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "이력관리 저장품 입고 검수" ],
        "summary" : "이력관리 저장품 입고 검수 조회",
        "description" : "이력관리 저장품 입고 검수 목록을 조회합니다.\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_delivery_dt: 2025-01-02\n",
        "operationId" : "history-storage-goods-inspections-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryStorageGoodsInspectionResponse"
                },
                "examples" : {
                  "history-storage-goods-inspections-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"해당 배송일자에 대한 저장품 입고 검수 목록을 조회했습니다.\",\"data\":{\"items\":[{\"cust_key\":\"102801\",\"cust_name\":\"주식회사 압도\",\"order_qty\":510,\"inspect_qty\":490,\"status\":\"2\"}],\"summary\":{\"total_qty\":33,\"complete_qty\":0,\"un_complete_qty\":33}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "이력관리 저장품 입고 검수" ],
        "summary" : "이력관리 저장품 입고 검수 등록",
        "description" : "이력관리 저장품 입고 검수 등록을 진행합니다.\n\n- Example Parameter\n\t- ci_dc_code: 2600\n\t- i_serialKey: 141542063\n\t- i_delivery_dt: 2025-01-02\n\t- i_cust_key: 1029909\n\t- i_plt_yn: N\n\t- i_plt_barcode:\n\t- i_serial_barcode: 4565880329962680010000200001\n\t- i_qty: 1\n\t- i_uom: 0\n",
        "operationId" : "history-storage-goods-inspection-post",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InspectionSaveRequest"
              },
              "examples" : {
                "history-storage-goods-inspection-post" : {
                  "value" : "{\"i_serial_key\":\"141542063\",\"i_delivery_dt\":\"2025-01-02\",\"i_cust_key\":\"1029909\",\"i_plt_yn\":\"N\",\"i_plt_barcode\":\"\",\"i_serial_barcode\":\"4565880329962680010000200001\",\"i_qty\":1,\"i_uom\":\"0\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "history-storage-goods-inspection-post" : {
                    "value" : "{\"is_success\":true,\"message\":\"이력관리 저장품 입고 검수 등록 성공\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/regional-daily-goods/centers/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 일배품 센터별 입고 검수 조회 List",
        "description" : "검색조건에 따라 일배품 입고 검수 조회 List를 조회합니다. 검색조건은 배송일자, 구분, 협력사 입니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_GET_STO_INSPECTION_CENTER_LIST\n\n- Example Project\n\t- ci_dc_code: 2260\n    - i_delivery_dt: 2023-06-22\n    - i_storage_type: 30\n    - i_route_dc_code: 2600\n\n* 응답까지 14s ~ 26s 소요\n",
        "operationId" : "regional-daily-goods-centers-inspections-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_storage_type",
          "in" : "query",
          "description" : "저장 구분",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_route_dc_code",
          "in" : "query",
          "description" : "경유 센터 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_status",
          "in" : "query",
          "description" : "상태 값",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CenterInspectionReadResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-inspections-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 일배품 센터별 입고 검수 조회 List가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"cust_key\":\"TEST_CUST\",\"cust_name\":\"테스트 협력사\",\"order_qty\":100,\"inspect_qty\":80,\"inspect_label_qty\":5,\"status\":\"2\"}],\"summary\":{\"total_qty\":3,\"complete_qty\":0,\"progress_qty\":0,\"un_complete_qty\":3}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 일배품 입고 검수 입고 라벨 스캔",
        "description" : "광역 일배품 입고 라벨을 스캔합니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_STO_INSPECTION_SCAN_BARCODE\n",
        "operationId" : "regional-daily-goods-centers-inspections-scan",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CenterInspectionScanRequest"
              },
              "examples" : {
                "regional-daily-goods-centers-inspections-scan" : {
                  "value" : "{\"i_delivery_dt\":\"2025-01-02\",\"i_storage_type\":\"STO\",\"i_route_dc_code\":\"2630\",\"i_barcode\":\"TEST_BARCODE_123\",\"i_cust\":\"TEST_CUST\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CenterInspectionReadResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-inspections-scan" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 일배품 입고 검수 입고 라벨 스캔이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/storage-goods/centers/{ci_dc_code}" : {
      "get" : {
        "tags" : [ "저장품 입고 검수" ],
        "summary" : "저장품 입고 검수 조회",
        "description" : "저장품 입고 검수 목록을 조회합니다.\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_delivery_dt: 2025-03-14\n\n- `결품 사유 코드 조회`\n    - [GET] /common/codes? 요청\n        - i_code_list: REASONCODE_DP\n",
        "operationId" : "storage-goods-inspections-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageGoodsInspectionResponse"
                },
                "examples" : {
                  "storage-goods-inspections-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"저장품 입고 검수 조회를 완료했습니다.\",\"data\":{\"items\":[{\"cust_key\":\"501731009\",\"cust_name\":\"테스트 협력사\",\"order_qty\":100,\"inspect_qty\":90,\"shortage_qty\":10,\"status\":\"123\"}],\"summary\":{\"total_qty\":100,\"complete_qty\":60,\"progress_qty\":20,\"un_complete_qty\":20}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/putaway/centers/{ci_dc_code}/storage-status" : {
      "get" : {
        "tags" : [ "입고 적치" ],
        "summary" : "입고적치 (보관현황) 팝업",
        "description" : "입고 적치에 대한 보관현황을 조회한다.\n대응 프로시저: SPFC_MOB_CTR_DP.SP_PUTAWAY_SKU_LIST\n\n- Example Project\n    - i_serial_yn: Y\n    - i_sku: 40081\n    - i_loc: A04-0401\n",
        "operationId" : "putaway-storage-status-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_serial_yn",
          "in" : "query",
          "description" : "이력관리 유무 (Y/N)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_loc",
          "in" : "query",
          "description" : "로케이션",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PutawayStorageStatusReadResponse"
                },
                "examples" : {
                  "putaway-storage-status-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"입고 적치 보관현황 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"duration_dt\":\"2024-01-15\",\"qty\":\"100 KG\",\"location\":\"A-01-01\"},{\"sku\":\"SKU002\",\"sku_name\":\"테스트 상품2\",\"duration_dt\":\"2024-02-15\",\"qty\":\"100 KG\",\"location\":\"A-01-02\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/putaway/centers/{ci_dc_code}/{i_sku_barcode}" : {
      "get" : {
        "tags" : [ "입고 적치" ],
        "summary" : "입고적치 대상 리스트 상세 조회",
        "description" : "입고적치 대상 리스트를 상세 조회한다.\n대응 프로시저: SPFC_MOB_CTR_DP.SP_GET_PUTAWAY_DETAIL\n\n- Example Project\n    - ci_dc_code: 2600\n    - i_doc_dt: 2025-05-12\n    - i_serial_yn: Y\n    - i_sku_barcode: B436015-20260220B\n",
        "operationId" : "putaway-detail-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku_barcode",
          "in" : "path",
          "description" : "스캔 바코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_dt",
          "in" : "query",
          "description" : "입고일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_serial_yn",
          "in" : "query",
          "description" : "이력관리 유무 (Y/N)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PutawayDetailReadResponse"
                },
                "examples" : {
                  "putaway-detail-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"입고 적치 대상 상세 조회가 성공적으로 완료되었습니다.\",\"data\":{\"serial_yn\":\"N\",\"cust_key\":\"1000-1340\",\"cust_name\":\"해찬들\",\"sku\":\"436015\",\"sku_name\":\"백설 돼지불고기양념(매콤 2.2Kg/EA\",\"order_qty\":\"157BOX0EA\",\"order_whgt\":\"0 KG\",\"confirm_qty\":36,\"duration_dt\":\"2026-02-20\",\"to_loc\":\"H16-4902\",\"recommend_loc\":\"H16-4902\",\"serial_no\":\"-\",\"scan_cnt\":0,\"conv_serial_no\":\"-\",\"lot\":\"0000006406\",\"line01\":\"N\"},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/daily-goods/centers/{ci_dc_code}/details" : {
      "get" : {
        "tags" : [ "일배품" ],
        "summary" : "일배품 입고 검수 상세 조회",
        "description" : "검색 조건중 입고일자, 구분, 협력사는 MOB_CTR_17_002에서 선택한 목록의 값으로 강제 셋팅되며, 수정되지 않습니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_GET_DAILY_INSPECTION_DETAIL_LIST\n\nExample Parameter\n- i_delivery_dt: \"2025-03-12\"\n- i_channel: \"2\"\n- i_barcode: \"4572722127205030010000100001\"\n",
        "operationId" : "daily-goods-inspections-detail-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_channel",
          "in" : "query",
          "description" : "일배/광역일배 구분",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InspectionDetailResponse"
                },
                "examples" : {
                  "daily-goods-inspections-detail-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"일배품 입고 검수 상세 조회가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"channel\":\"2\",\"channel_name\":\"일배\",\"cust_name\":\"테스트 고객사\",\"cust_key\":\"543201000\",\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"order_qty\":100,\"scan_qty\":80,\"remain_qty\":20,\"pop\":\"POP001\",\"pop_chg_yn\":\"Y\",\"cancel_yn\":\"N\",\"status\":\"26\",\"uom\":\"EA\"}],\"summary\":{\"total_qty\":100,\"complete_qty\":60,\"progress_qty\":20,\"un_complete_qty\":20}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/daily-goods/centers/{ci_dc_code}/forced" : {
      "post" : {
        "tags" : [ "일배품" ],
        "summary" : "일배품 입고 검수 강제 등록",
        "description" : "검수량 입력 후 입고 검수 버튼 선택히 해당 내역을 호출하여 강제검수 처리합니다. 대응 프로시저: SPFC_MOB_CTR_DP_INSPECT.SP_SET_FORCE_DAILY_INSPECT",
        "operationId" : "daily-goods-inspections-force-register",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/InspectionForceRequest"
              },
              "examples" : {
                "daily-goods-inspections-force-register" : {
                  "value" : "{\"i_delivery_dt\":\"2023-06-01\",\"i_from_cust_key\":\"501731009\",\"i_to_cust_key\":\"543201000\",\"i_sku\":\"SKU001\",\"i_inspect_qty\":10}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "daily-goods-inspections-force-register" : {
                    "value" : "{\"is_success\":true,\"message\":\"일배품 입고 검수 강제 등록이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "일배품" ],
        "summary" : "일배품 입고 검수 강제 등록 취소",
        "description" : "검수량 입력 후 입고 검수 버튼 선택히 해당 내역을 호출하여 강제검수 처리합니다.",
        "operationId" : "daily-goods-inspections-force-cancel",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_from_cust_key",
          "in" : "query",
          "description" : "협력사 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_to_cust_key",
          "in" : "query",
          "description" : "고객사 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cancel_qty",
          "in" : "query",
          "description" : "취소 수량",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "daily-goods-inspections-force-cancel" : {
                    "value" : "{\"is_success\":true,\"message\":\"일배품 입고 검수 강제 등록 취소가 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/history-storage-goods/centers/{ci_dc_code}/{i_barcode}" : {
      "get" : {
        "tags" : [ "이력관리 저장품 입고 검수" ],
        "summary" : "이력관리 저장품 입고 검수 상세 조회",
        "description" : "이력관리 저장품 입고 검수 상세 목록을 조회합니다.\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_barcode: 4565880329962680010000200001\n    - i_delivery_dt: 2025-01-02\n    - i_cust_key: 1029909\n",
        "operationId" : "history-storage-goods-inspection-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_barcode",
          "in" : "path",
          "description" : "바코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryStorageGoodsInspectionResponse"
                },
                "examples" : {
                  "history-storage-goods-inspection-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"{0} 바코드에 대한 상세 정보를 조회했습니다.\",\"data\":{\"cust_key\":\"1029909\",\"cust_name\":\"주식회사제이에스푸드\",\"sku\":\"1029909\",\"sku_name\":\"주식회사제이에스푸드\",\"order_qty\":60,\"confirm_qty\":0,\"remain_qty\":60,\"confirm_weight\":0,\"serial_no\":\"903002401414\",\"manufacture_dt\":\"2024-12-26\",\"duration_dt\":\"2025-12-26\",\"qty\":0,\"uom\":\"EA\",\"line01\":\"N\",\"serial_key\":\"141542063\"},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/regional-daily-goods/centers/{ci_dc_code}/products" : {
      "get" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 상품별 일배품 입고 검수 리스트 조회",
        "description" : "검색조건에 따라 일배품 입고 검수 조회 List를 조회합니다. 검색조건은 배송일자, 구분, 협력사 입니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_GET_STO_INSPECTION_SKU_LIST\n\n- Example Parameter\n\t- i_delivery_dt: 2024-02-20\n\t- i_storage_type: 10\n\t- i_route_dc_code: 2600\n\t- i_cust: 1000192\n",
        "operationId" : "regional-daily-goods-centers-products-inspections-read",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_storage_type",
          "in" : "query",
          "description" : "저장 구분",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_route_dc_code",
          "in" : "query",
          "description" : "경유 센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust",
          "in" : "query",
          "description" : "협력사명(코드)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_status",
          "in" : "query",
          "description" : "상태 값",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInspectionReadResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-products-inspections-read" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 상품별 일배품 입고 검수 리스트 조회가 성공적으로 완료되었습니다.\",\"data\":{\"items\":[{\"cust_key\":\"TEST_CUST\",\"cust_name\":\"테스트 협력사\",\"sku\":\"TEST_SKU_001\",\"sku_name\":\"테스트 상품\",\"order_qty\":100,\"inspect_qty\":80,\"inspect_label_cnt\":5,\"remain_qty\":0,\"uom\":\"BOX\",\"status\":\"2\"}],\"summary\":{\"total_qty\":3,\"complete_qty\":0,\"progress_qty\":0,\"un_complete_qty\":3}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 상품별 일배품 입고 스캔",
        "description" : "입고라벨을 스캔시, 해당 화면에서 입고 검수 처리를 합니다. 성공시, MOB_CTR_23_002를 재호출하여, 최신값으로 갱신합니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECTION.SP_STO_INSPECTION_SCAN_BARCODE\n",
        "operationId" : "regional-daily-goods-centers-products-inspections-scan",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductInspectionScanRequest"
              },
              "examples" : {
                "regional-daily-goods-centers-products-inspections-scan" : {
                  "value" : "{\"i_delivery_dt\":\"2025-01-02\",\"i_storage_type\":\"STO\",\"i_route_dc_code\":\"2630\",\"i_barcode\":\"TEST_BARCODE_123\",\"i_cust\":\"TEST_CUST\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductInspectionReadResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-products-inspections-scan" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 상품별 일배품 입고 스캔이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/storage-goods/centers/{ci_dc_code}/histories" : {
      "get" : {
        "tags" : [ "저장품 입고 검수" ],
        "summary" : "저장품 입고 검수 내역 조회",
        "description" : "저장품 입고 검수 내역을 조회합니다.\n- Example Parameter\n    - i_delivery_dt: 2025-03-14\n    - i_cust_key: 1001447\n    - i_sku: 264785\n",
        "operationId" : "storage-goods-inspection-histories-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "입고일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "query",
          "description" : "고객 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "스캔 바코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageGoodsInspectionHistoryResponse"
                },
                "examples" : {
                  "storage-goods-inspection-histories-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"저장품 입고 검수 내역 조회를 완료했습니다.\",\"data\":{\"items\":[{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"order_qty\":100,\"inspect_qty\":90,\"status\":\"완료\",\"doc_no\":\"DOC001\",\"doc_line\":\"1\"}],\"summary\":{\"total_qty\":100,\"complete_qty\":80,\"un_complete_qty\":20}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/storage-goods/centers/{ci_dc_code}/{i_barcode}" : {
      "get" : {
        "tags" : [ "저장품 입고 검수" ],
        "summary" : "저장품 입고 검수 상세 조회",
        "description" : "특정 바코드의 저장품 입고 검수 상세 정보를 조회합니다.\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_delivery_dt: 2025-03-14\n    - i_cust_key: 1001447\n    - i_barcode: B264785-STDB\n",
        "operationId" : "storage-goods-inspection-detail-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_barcode",
          "in" : "path",
          "description" : "스캔 바코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "입고일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "query",
          "description" : "고객 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StorageGoodsInspectionDetailResponse"
                },
                "examples" : {
                  "storage-goods-inspection-detail-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"\",\"data\":{\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"sku_etc\":\"Y\",\"order_qty\":\"100 Box\",\"open_qty\":\"50 Box\",\"duration_dt\":\"2023-12-31\",\"std_dt\":\"2023-06-01\",\"inspect_qty1\":10,\"inspect_qty2\":20,\"short_qty1\":1,\"short_qty2\":2,\"reason_code\":\"RC001\",\"except_yn\":\"Y\",\"uom1\":\"EA\",\"uom2\":\"EA\"},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/storage-goods/centers/{ci_dc_code}/{i_sku}" : {
      "post" : {
        "tags" : [ "저장품 입고 검수" ],
        "summary" : "저장품 입고 검수 확정",
        "description" : "저장품 입고 검수를 확정합니다.\n- Example Parameter\n    - i_delivery_dt: 2025-03-14\n    - i_cust_key: 1001447\n    - i_inspect_box_qty: 1\n    - i_inspect_ea_qty: 0\n    - i_short_box_qty: 0\n    - i_short_ea_qty: 0\n    - i_duration_dt: STD\n",
        "operationId" : "storage-goods-inspection-confirm-post",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "path",
          "description" : "스캔 바코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StorageGoodsInspectionScanRequest"
              },
              "examples" : {
                "storage-goods-inspection-confirm-post" : {
                  "value" : "{\"i_delivery_dt\":\"2023-06-01\",\"i_cust_key\":\"501731009\",\"i_inspect_qty1\":10,\"i_inspect_qty2\":20,\"i_short_qty1\":1,\"i_short_qty2\":2,\"i_reason_code\":\"RC001\",\"i_duration_dt\":\"2023-12-31\",\"i_uom1\":\"EA\",\"i_uom2\":\"BOX\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
                  "storage-goods-inspection-confirm-post" : {
                    "value" : "{\"is_success\":true,\"message\":\"상품 SKU001 저장품 입고 검수 확정을 완료했습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "저장품 입고 검수" ],
        "summary" : "저장품 입고 검수 내역 취소",
        "description" : "저장품 입고 검수 내역을 취소합니다.\n- Example Parameter\n    - i_delivery_dt: 2025-03-14\n    - i_cust_key: 1001447\n    - i_doc_no: IV0017125138\n    - i_doc_line: 00010\n",
        "operationId" : "storage-goods-inspection-cancel-delete",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "path",
          "description" : "상품 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "입고일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "query",
          "description" : "고객 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_no",
          "in" : "query",
          "description" : "문서번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_line",
          "in" : "query",
          "description" : "문서 라인 번호",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
                  "storage-goods-inspection-cancel-delete" : {
                    "value" : "{\"is_success\":true,\"message\":\"저장품 입고 검수 내역 취소를 완료했습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/putaway/centers/{ci_dc_code}/locations/validate" : {
      "post" : {
        "tags" : [ "입고 적치" ],
        "summary" : "입고적치 등록 바코드 스캔 검증(적치 로케이션)",
        "description" : "바코드 스캔시 해당 지시 로케이션과 적치 로케이션 검증한다.\n대응 프로시저: SPFC_MOB_CTR_DP.SP_GET_LOCATION_CHK\n\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_doc_dt: 2025-05-12\n    - i_sku: 436015\n    - i_to_loc: H16-4902\n    - i_barcode: H16-4902\n",
        "operationId" : "putaway-barcode-validate",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PutawayValidateRequest"
              },
              "examples" : {
                "putaway-barcode-validate" : {
                  "value" : "{\"i_doc_dt\":\"2024-01-01\",\"i_sku\":\"SKU001\",\"i_to_loc\":\"A-01-01\",\"i_barcode\":\"LOC001\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inbounds-putaway-centers-ci_dc_code-locations-validate-1594006164"
                },
                "examples" : {
                  "putaway-barcode-validate" : {
                    "value" : "{\"is_success\":true,\"message\":\"입고 적치 바코드 스캔 검증이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/history-storage-goods/centers/{ci_dc_code}/histories/{i_cust_key}" : {
      "get" : {
        "tags" : [ "이력관리 저장품 입고 검수" ],
        "summary" : "이력관리 저장품 입고 검수 조회(이력 조회)",
        "description" : "해당 배송일자에 대한 저장품 입고 검수 내역에 대한 이력 리스트를 조회한다.\n- Example Parameter\n    - ci_dc_code: 2600\n    - i_cust_key: 1029909\n    - i_delivery_dt: 2025-01-02\n    - i_sku: 438924\n",
        "operationId" : "history-storage-goods-inspections-history-get",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cust_key",
          "in" : "path",
          "description" : "협력사 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (yyyy-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품코드 또는 상품명",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryStorageGoodsInspectionHistoriesResponse"
                },
                "examples" : {
                  "history-storage-goods-inspections-history-get" : {
                    "value" : "{\"is_success\":true,\"message\":\"\",\"data\":{\"items\":[{\"sku\":\"438924\",\"sku_name\":\"제육용목전지(로칼용 3.5mm 5Kg/EA)\",\"order_qty\":60,\"inspect_qty\":51,\"status\":\"2\"}],\"summary\":{\"total_qty\":1,\"complete_qty\":0,\"un_complete_qty\":1}},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inbounds/inspections/regional-daily-goods/centers/{ci_dc_code}/products/forced" : {
      "post" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 일배품 입고 강제검수 등록",
        "description" : "검수량 입력 후 입고 검수 버튼 선택히 해당 내역을 호출하여 강제검수 처리합니다.\n대응 프로시저: SPFC_MOB_CTR_DP_INSPECT.SP_FORCE_STO_INSPECT\n\n- i_delivery_dt: 2024-02-20\n- i_from_cust_key: 1001448\n- i_to_cust_key: 520371343\n- i_sku: 33846\n- i_inspect_qty: 1\n",
        "operationId" : "regional-daily-goods-centers-products-forced-register",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ProductInspectionForceRequest"
              },
              "examples" : {
                "regional-daily-goods-centers-products-forced-register" : {
                  "value" : "{\"i_delivery_dt\":\"2024-02-20\",\"i_from_cust_key\":\"1001448\",\"i_to_cust_key\":\"520371343\",\"i_sku\":\"33846\",\"i_inspect_qty\":1}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-products-forced-register" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 일배품 입고 강제검수 등록이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "광역 일배품" ],
        "summary" : "광역 일배품 입고 강제 검수 취소",
        "description" : "광역 일배품 입고 강제 검수 취소\n\n- Example Parameter\n\t- i_delivery_dt: 2024-02-20\n\t- i_from_cust_key: 1001448\n\t- i_to_cust_key: 520371343\n\t- i_sku: 338846\n\t- i_cancel_qty: 1\n",
        "operationId" : "regional-daily-goods-centers-products-forced-cancel",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "path",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_delivery_dt",
          "in" : "query",
          "description" : "배송일자 (YYYY-MM-dd)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_from_cust_key",
          "in" : "query",
          "description" : "협력사 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_to_cust_key",
          "in" : "query",
          "description" : "고객사 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_cancel_qty",
          "in" : "query",
          "description" : "취소 수량",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VoidResponse"
                },
                "examples" : {
                  "regional-daily-goods-centers-products-forced-cancel" : {
                    "value" : "{\"is_success\":true,\"message\":\"광역 일배품 입고 강제 검수 취소가 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 실사 지시 내역 조회",
        "description" : "재고실사 지시 내역을 조회합니다.\n\n목록 선택하여 재고 조사시, 수량조사 타입인지 소비기한 조사 타입인지에 따라 MOB_CTR_39 또는 MOB_CTR_40 호출 필요\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_GET_INQUIRY_LIST\n\nMOB_CTR_37_002\n\n- Example Parameters\n    - ci_dc_code: 2650\n    - i_doc_dt: 2025-11-18\n",
        "operationId" : "audit-get-audits",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_priority",
          "in" : "query",
          "description" : "회차",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_inquiry_no",
          "in" : "query",
          "description" : "조사 지시 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_dt",
          "in" : "query",
          "description" : "조사일자",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadResponse"
                },
                "examples" : {
                  "audit-get-audits" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 실사 지시 내역 조회 성공\",\"data\":[{\"alias_code\":\"001\",\"alias_name\":\"1차 조사\",\"inquiry_type_code\":\"Q\",\"inquiry_type_name\":\"수량조사\",\"order_std_zone\":\"H14\",\"order_std_loc\":\"H14-0501\",\"loc_cnt\":3,\"sku_cnt\":5,\"priority\":\"1\"},{\"alias_code\":\"002\",\"alias_name\":\"2차 조사\",\"inquiry_type_code\":\"D\",\"inquiry_type_name\":\"소비기한조사\",\"order_std_zone\":\"H14\",\"order_std_loc\":\"H14-0502\",\"loc_cnt\":2,\"sku_cnt\":3,\"priority\":\"1\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 조사 등록 - 수량 등록",
        "description" : "재고 조사 등록 화면에서 해당 상품의 재고 수량을 등록합니다.\n\n리턴 커서에 데이터가 있으면, ZONE/LOC , 지시LOC 데이터 표시. 리턴 커서에 데이터가 없을 경우\n해당 ZONE의 재고조사가 완료되었습니다. 알럿 띄워주고, ZONE부터 하위 내역들은 모두 지웁니다.\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_INQUIRY_CONFIRM\n\nMOB_CTR_39_004\n\n- Example Paramters\n    {\n      \"ci_dc_code\": \"2650\",\n      \"i_inquiry_no\": \"202511181001\",\n      \"i_priority\": \"1\",\n      \"i_order_loc\": \"U02-3003\",\n      \"i_sku\": \"347074\",\n      \"i_tran_qty1\": \"0\",\n      \"i_tran_qty2\": \"180\",\n      \"i_uom1\": \"BOX\",\n      \"i_uom2\": \"EA\",\n      \"i_duration_dt\": \"\"\n    }\n",
        "operationId" : "audit-register-quantity",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RegisterRequest"
              },
              "examples" : {
                "audit-register-quantity" : {
                  "value" : "{\"ci_dc_code\":\"2630\",\"i_inquiry_no\":\"001\",\"i_priority\":\"1\",\"i_order_loc\":\"H14-0501\",\"i_sku\":\"8801234567890\",\"i_tran_qty1\":\"100\",\"i_tran_qty2\":\"10\",\"i_uom1\":\"EA\",\"i_uom2\":\"BOX\",\"i_duration_dt\":\"20240430\",\"i_worker\":\"1234\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegisterResponse"
                },
                "examples" : {
                  "audit-register-quantity" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 조사 등록 성공\",\"data\":{\"zone\":\"H14\",\"location\":\"H14-0502\",\"order_loc\":\"H14-0502\",\"progress_percent\":85,\"search_type\":\"ZONE\"},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/transfers" : {
      "get" : {
        "tags" : [ "재고 이동" ],
        "summary" : "재고 이동 대상 조회",
        "description" : "재고 이동 대상을 조회한다. 정량/비정량 구분에 따라 구성입수 표시, 이동수량 단위 표시 등 변경이 필요\n\n대응 프로시저: SPFC_MOB_CTR_ST.SP_GET_STOCK_MOVE_LIST\n\nMOB_CTR_35_003\n\n- Example Parameters\n    - ci_dc_code: 2600\n    - i_loc: H14-0501\n    - i_sku: 433742\n",
        "operationId" : "inventory-transfer-get-targets",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드 (필수)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_loc",
          "in" : "query",
          "description" : "스캔 바코드(LOCATION 또는 ZONE) (필수)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "스캔 바코드(상품 코드 또는 상품명)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReadResponse"
                },
                "examples" : {
                  "inventory-transfer-get-targets" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 이동 대상 조회 성공\",\"data\":[{\"loc\":\"LOC001\",\"sku\":\"SKU001\",\"sku_name\":\"테스트 상품\",\"duration_dt\":\"2024-12-31\",\"duration_type\":\"소비기한\",\"qty\":100,\"open_qty\":50,\"uom\":\"EA\",\"serial_yn\":\"Y\",\"lot\":\"LOT001\",\"stock_id\":\"\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/alias" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 실사 조사 별칭 조회",
        "description" : "재고실사의 조사 별칭을 조회하여 SELECT BOX에 세팅합니다.\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_GET_INQUIRY_ALIAS\n\nMOB_CTR_37_001\n\n- Example Parameters\n    - ci_dc_code: 2650\n    - i_doc_dt: 2025-11-18\n",
        "operationId" : "audit-get-aliases",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_priority",
          "in" : "query",
          "description" : "회차",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_dt",
          "in" : "query",
          "description" : "재고 조사일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AliasReadResponse"
                },
                "examples" : {
                  "audit-get-aliases" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 실사 조사 별칭 조회 성공\",\"data\":[{\"inquiry_no\":\"001\",\"inquiry_name\":\"1차 조사\"},{\"inquiry_no\":\"002\",\"inquiry_name\":\"2차 조사\"},{\"inquiry_no\":\"003\",\"inquiry_name\":\"3차 조사\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/omission" : {
      "post" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 조사 추가 재고 등록",
        "description" : "추가 재고를 등록하여, 누락된 재고를 조사 내역에 반영합니다.\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_INQUIRY_ADD_CONFIRM\n\nMOB_CTR_41_003\n",
        "operationId" : "audit-register-omission",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OmissionRequest"
              },
              "examples" : {
                "audit-register-omission" : {
                  "value" : "{\"ci_dc_code\":\"2630\",\"i_inquiry_no\":\"001\",\"i_priority\":\"1\",\"i_order_loc\":\"H14-0502\",\"i_lot_type\":\"제조일자\",\"i_line01\":\"정량\",\"i_sku\":\"8801234567890\",\"i_tran_qty1\":50,\"i_tran_qty2\":5,\"i_uom1\":\"EA\",\"i_uom2\":\"BOX\",\"i_from_lot\":\"LOT20240320\",\"i_to_lot\":\"LOT20240430\",\"i_duration_dt\":\"20240430\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
                  "audit-register-omission" : {
                    "value" : "{\"is_success\":true,\"message\":\"추가 재고 등록 성공\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/priority" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 실사 조사 회차 조회",
        "description" : "재고 실사 조사 회차를 조회합니다.\n\n해당일자의 재고조사 회차를 조회하여 SELECTBOX에 셋팅합니다.\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_GET_INQUIRY_PRIORITY\n\nMOB_CTR_37_000\n\n- Example Parameters\n    - ci_dc_code: 2650\n    - i_doc_dt: 2025-11-18\n",
        "operationId" : "audit-get-priorities",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_doc_dt",
          "in" : "query",
          "description" : "재고 조사일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PriorityReadResponse"
                },
                "examples" : {
                  "audit-get-priorities" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 실사 조사 회차 조회 성공\",\"data\":[{\"priority\":\"1\",\"priority_nm\":\"1회\"},{\"priority\":\"2\",\"priority_nm\":\"2회\"},{\"priority\":\"3\",\"priority_nm\":\"3회\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/products" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 실사 등록 - 수량 조사 (상품 스캔)",
        "description" : "재고 조사 등록 화면에서 상품을 등록하여 재고 조사를 실시합니다.\n\n1) 수량 조사일 경우,\n등록 바코드와 상품이 일치하는지 확인하고, 정량일 경우는 실사량 입력 가능하도록 활성화합니다.\n비정량일 경우, 바코드 스캔하여 상품 일치시 MOB_CTR_004를 자동 호출하여 재고 조사를 등록합니다.\n\n2) 소비기한 + 수량 조사일 경우\n- 등록 바코드와 상품 일치하는지 확인\n- 정량일 경우, 소비기한 및 실사량 입력칸 활성화\n- 비정량일 경우, 실사량은 1BOX?로 고정되며, 소비기한 칸 입력 활성화\n\n3) 소비기한이 불일치할 경우 에러 표시\n\nMOB_CTR_40_003 같이 사용\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_INQUIRY_SCAN_SKU\n\nMOB_CTR_39_003\n\n",
        "operationId" : "audit-get-products",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_priority",
          "in" : "query",
          "description" : "회차",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_inquiry_dt",
          "in" : "query",
          "description" : "조사일시",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_inquiry_no",
          "in" : "query",
          "description" : "조사 지시 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_order_loc",
          "in" : "query",
          "description" : "지시 로케이션",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_scan_sku",
          "in" : "query",
          "description" : "바코드 스캔 값",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductReadResponse"
                },
                "examples" : {
                  "audit-get-products" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 실사 등록 상품 스캔 성공\",\"data\":{\"line01\":\"정량\",\"sku\":\"433742\",\"sku_name\":\"테스트 상품\",\"box_per_plt\":\"10\",\"qty_per_box\":\"12\",\"qty_per_pack\":\"6\",\"stock_qty\":\"100\",\"uom\":\"EA\",\"uom1\":\"EA\",\"uom2\":\"BOX\",\"lot\":\"LOT20240320\",\"lot_type\":\"제조일자\",\"duration_dt\":\"20240430\",\"add_qty\":1},\"data_type\":\"OBJECT\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/statuses" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "재고 조사 현황",
        "description" : "재고 조사 현황을 통해 조사 내역을 확인합니다.\n\n1) 일치여부 전체 : 빈값, 예 Y, 아니오 N 고정\n2) ZONE/LOC : TEXT 입력값\n3) 상품명 MOB_CTR_MNG.SP_GET_SKU 로 상품명 존재여부만 체크\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_INQUIRY_CONFIRM_LIST\n\nMOB_CTR_38_001\n",
        "operationId" : "audit-get-statuses",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_inquiry_no",
          "in" : "query",
          "description" : "조사 지시 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_priority",
          "in" : "query",
          "description" : "회차",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_scan_loc",
          "in" : "query",
          "description" : "조사 로케이션",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_sku",
          "in" : "query",
          "description" : "상품 코드",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_status",
          "in" : "query",
          "description" : "일치여부",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusReadResponse"
                },
                "examples" : {
                  "audit-get-statuses" : {
                    "value" : "{\"is_success\":true,\"message\":\"재고 조사 현황 조회 성공\",\"data\":[{\"loc\":\"H14-0501\",\"sku\":\"433742\",\"sku_name\":\"테스트 상품\",\"order_qty\":100,\"scan_qty\":100},{\"loc\":\"H14-0502\",\"sku\":\"433743\",\"sku_name\":\"테스트 상품2\",\"order_qty\":50,\"scan_qty\":48}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/audits/zones" : {
      "get" : {
        "tags" : [ "재고 실사" ],
        "summary" : "ZONE 조회 팝업 리스트 조회",
        "description" : "조사명, 구분, 검색어를 통해 해당 재고 조사 지시에 대해 대상 ZONE을 조회합니다.\n\n구분값은 ZONE 또는 LOCATION으로 SELECT BOX 고정(코드화 없음)\n\n추가 이벤트 - 재고 실사 등록 화면 진입시, MOB_CTR_42를 띄우고, 선택한 값에 따라 지시 LOC에 표시합니다.\n\n대응 프로시저: SPFC_MOB_CTR_ST_INQUIRY.SP_GET_ZONE_LIST\n\nMOB_CTR_42_001\n\n- Example Parameters\n    - ci_dc_code: 2650\n    - i_inquiry_no: 202511181001\n    - i_priority: 1\n    - i_search_type: ZONE\n",
        "operationId" : "audit-get-zones",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_priority",
          "in" : "query",
          "description" : "회차",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_inquiry_no",
          "in" : "query",
          "description" : "조사 지시 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_search_type",
          "in" : "query",
          "description" : "구분(ZONE/LOCATION)",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_search_text",
          "in" : "query",
          "description" : "검색어",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZoneReadResponse"
                },
                "examples" : {
                  "audit-get-zones" : {
                    "value" : "{\"is_success\":true,\"message\":\"ZONE 조회 성공\",\"data\":[{\"zone\":\"H14\",\"location\":\"H14-0501\",\"order_loc\":\"H14-0501\",\"progress_percent\":80,\"search_type\":\"ZONE\"},{\"zone\":\"H14\",\"location\":\"H14-0502\",\"order_loc\":\"H14-0502\",\"progress_percent\":60,\"search_type\":\"ZONE\"},{\"zone\":\"H14\",\"location\":\"H14-0503\",\"order_loc\":\"H14-0503\",\"progress_percent\":90,\"search_type\":\"LOCATION\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inventories/capa/investigations" : {
      "get" : {
        "tags" : [ "CAPA 조사" ],
        "summary" : "CAPA 보관 로케이션 등록 내역 조회",
        "description" : "등록한 카파 내역을 조회한다.\n\n대응 프로시저: SPFC_MOB_CTR_CAPA.SP_GET_CAPA_LOC_LIST\n\n- Example Parameter\n\t- ci_dc_code: 2600\n",
        "operationId" : "inventories-capa-location-history",
        "parameters" : [ {
          "name" : "ci_command",
          "in" : "query",
          "description" : "Command 타입",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapaRegisterLocationReadResponseList"
                },
                "examples" : {
                  "inventories-capa-location-history" : {
                    "value" : "{\"is_success\":true,\"message\":\"CAPA 보관 로케이션 등록 내역 조회가 성공적으로 완료되었습니다.\",\"data\":[{\"loc\":\"C01-01-01\",\"scan_dt\":\"2024-01-15 10:30:00\",\"cancel_yn\":\"Y\"},{\"loc\":\"I09-1502\",\"scan_dt\":\"\",\"cancel_yn\":\"N\"}],\"data_type\":\"ARRAY\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "CAPA 조사" ],
        "summary" : "CAPA 보관 로케이션 스캔",
        "description" : "스캔한 CAPA 로케이션 값을 등록한다.\n\n대응 프로시저: SPFC_MOB_CTR_CAPA.SP_SET_CAPA_LOC_CONFIRM\n\n- Example Parameter\n\t- ci_dc_code: 2600\n\t- i_scan_loc: H16-4902\n",
        "operationId" : "inventories-capa-location-scan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CapaLocationScanRequest"
              },
              "examples" : {
                "inventories-capa-location-scan" : {
                  "value" : "{\"ci_dc_code\":\"2630\",\"i_scan_loc\":\"C01-01-01\"}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
                  "inventories-capa-location-scan" : {
                    "value" : "{\"is_success\":true,\"message\":\"CAPA 보관 로케이션 등록이 성공적으로 완료되었습니다.\",\"data\":\"\",\"data_type\":\"NONE\",\"error_code\":\"\",\"debug_message\":\"\"}"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CAPA 조사" ],
        "summary" : "CAPA 보관 로케이션 등록 내역 취소",
        "description" : "등록한 카파 내역을 취소한다.\n\n대응 프로시저: SPFC_MOB_CTR_CAPA.SP_SET_CAPA_LOC_CANCEL\n\n- Example Parameter\n\t- ci_dc_code: 2600\n\t- i_scan_loc: I09-1501\n",
        "operationId" : "inventories-capa-location-cancel",
        "parameters" : [ {
          "name" : "ci_dc_code",
          "in" : "query",
          "description" : "센터 코드",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "i_scan_loc",
          "in" : "query",
          "description" : "스캔 로케이션",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommonResponse"
                },
                "examples" : {
[...]
